In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('avalanches.csv')df = pd.read_csv('avalanches.csv')

In [57]:
df.shape

(6355, 25)

In [47]:
df.Date.str.slice(-2).unique().shape

(50,)

In [55]:
df.Date.str.slice(0,2).isin(['5/', '6/', '7/', '8/', '9/']).sum()

81

In [56]:
df.shape

(6355, 25)

In [11]:
from nltk.corpus import stopwords
stops = stopwords.words('english')

In [18]:
print('\n'.join(df.columns))

Date
Region
Place
Trigger
Trigger: additional info
Weak Layer
Depth
Width
Vertical
Aspect
Elevation
Coordinates
Caught
Carried
Buried - Partly
Buried - Fully
Injured
Killed
Accident and Rescue Summary
Terrain Summary
Weather Conditions and History
Comments 1
Comments 2
Comments 3
Comments 4

In [33]:
df['Injured'].value_counts()

1.0    80
2.0     3
4.0     1
Name: Injured, dtype: int64

In [7]:
from IPython.display import display

for c in df.columns:
    print(c)
    display(df[c].sample(5))
    print('\n\n')

Date

4780     2/11/2020
520      1/30/2010
1603     1/29/2012
4831     2/25/2020
1430    11/13/2011
Name: Date, dtype: object

Region

3712       Uintas
953         Provo
6138         Moab
818     Salt Lake
2976    Salt Lake
Name: Region, dtype: object

Place

281                  Claytons
5153       Chicken Sh#! Ridge
845                   Kessler
1968    West Desolation Ridge
1957         Smith-Moorehouse
Name: Place, dtype: object

Trigger

3681          Skier
5253        Natural
4372    Snowboarder
902           Skier
266           Skier
Name: Trigger, dtype: object

Trigger: additional info

2083         Remotely Triggered
4726                        NaN
4250                   Repeater
5769                        NaN
2350    Intentionally Triggered
Name: Trigger: additional info, dtype: object

Weak Layer

1439                            NaN
2322                            NaN
4255                            NaN
3460    New Snow/Old Snow Interface
4085    New Snow/Old Snow Interface
Name: Weak Layer, dtype: object

Depth

998     NaN
4007    12"
5647     2'
940     NaN
4024     2'
Name: Depth, dtype: object

Width

5795    30'
4266    60'
3075    25'
4814    70'
2023    80'
Name: Width, dtype: object

Vertical

2671     NaN
910     400'
4907     NaN
1170     NaN
4051     50'
Name: Vertical, dtype: object

Aspect

3653    Northeast
3956        North
2212    Northeast
4587    Northeast
2762        North
Name: Aspect, dtype: object

Elevation

4489     9,900'
3561     8,500'
1019    11,600'
2581        NaN
6023     5,900'
Name: Elevation, dtype: object

Coordinates

2260    40.622507000000, -111.660829000000
413     41.955437000000, -111.621480000000
1289    40.600924000000, -111.720526000000
5608    39.523394537022, -111.300022589340
5878    40.671736358852, -111.626737104990
Name: Coordinates, dtype: object

Caught

2851    NaN
5067    NaN
6173    NaN
261     NaN
249     1.0
Name: Caught, dtype: float64

Carried

389    NaN
3995   NaN
3421   NaN
2202   NaN
3258   NaN
Name: Carried, dtype: float64

Buried - Partly

5566   NaN
5836   NaN
3915   NaN
4375   NaN
3354   NaN
Name: Buried - Partly, dtype: float64

Buried - Fully

6012   NaN
6059   NaN
754    NaN
1753   NaN
3522   NaN
Name: Buried - Fully, dtype: float64

Injured

1503   NaN
671    NaN
4848   NaN
26     NaN
2189   NaN
Name: Injured, dtype: float64

Killed

5608   NaN
3932   NaN
990    NaN
4976   NaN
5097   NaN
Name: Killed, dtype: float64

Accident and Rescue Summary

578     NaN
991     NaN
2463    NaN
1508    NaN
1299    NaN
Name: Accident and Rescue Summary, dtype: object

Terrain Summary

5732    NaN
387     NaN
5052    NaN
4032    NaN
1895    NaN
Name: Terrain Summary, dtype: object

Weather Conditions and History

3350    NaN
5819    NaN
2032    NaN
4792    NaN
3835    NaN
Name: Weather Conditions and History, dtype: object

Comments 1

3259    The east aspect of the Birthday Bowls slid som...
778     Logan Canyon re-opens to traffic after snow sl...
2513    Widespread soft slab cycle on the 12th during ...
1644    Trent and I were walking in a safe location al...
982     Saw a wet slab, 30x30, probably snow plow trig...
Name: Comments 1, dtype: object

Comments 2

954                                                   NaN
3922                                                  NaN
1984    The buried rider was in a party of three. He w...
6                                                     NaN
2140                                                  NaN
Name: Comments 2, dtype: object

Comments 3

993     NaN
2383    NaN
3728    NaN
5190    NaN
5794    NaN
Name: Comments 3, dtype: object

Comments 4

5180                                                  NaN
3955    Bonus slide! Several inches deep and 20 feet w...
5128                                                  NaN
820                                                   NaN
1648                                                  NaN
Name: Comments 4, dtype: object